<div class = dashboard-container>
 <h2 class="page-header">Admin Dashboard</h2>
<p>Welcome to your Admin dashboard</p>
<!--<% for(var i=0; i < fullUser.length; i++) { %>
<p><%= fullUser[i].id %></p>
<% } %>-->
</div> 